<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-2">
            <form>
                <fieldset >
                  <legend>Insertar socio</legend>
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Nombre</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Escriba el nomber...">
                  </div>
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Apellido</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Escriba el apellido...">
                  </div>
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Telefono</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Escriba el telefono...">
                  </div>
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Red Social</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="@...">
                  </div>
                  <button type="submit" class="btn btn-primary">Insertar</button>
                </fieldset>
              </form>
        </div>
    </div>
</div>