<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-2">
            <form action="/insert" method="POST">
                <fieldset >
                  <legend>Insertar Mensaje</legend>
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Nombre</label>
                    <input name="nombre" type="text" id="disabledTextInput" class="form-control" placeholder="Escriba el nomber...">
                  </div>
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Mensaje</label>
                    <input name="mensaje" type="text" id="disabledTextInput" class="form-control" placeholder="Escriba el mensaje...">
                  </div>
                  <button type="submit" class="btn btn-primary">Insertar</button>
                </fieldset>
              </form>
        </div>
    </div>
</div>