<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-2">
            <form>
                <fieldset >
                  <legend><%= legend %></legend>
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label"><%= label %></label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Escriba el id...">
                  </div>
                  <button type="submit" class="btn btn-primary"><%= button %></button>
                </fieldset>
              </form>
        </div>
    </div>
</div>