<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Red Social</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%- rows[0].id %></td>
                        <td><%- rows[0].nombre%></td>
                        <td><%- rows[0].apellido%></td>
                        <td><%- rows[0].correo%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>