<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Red Social</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%- rows[0].id %></td>
                        <td><%- rows[0].nombre%></td>
                        <td><%- rows[0].apellido%></td>
                        <td><%- rows[0].correo%></td>
                        <td>
                            <button class="btn btn-warning">Actualizar</button>
                            <button class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>