<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-2">
            <form>
                <fieldset >
                  <legend>Actualizar datos de socio</legend>
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Id</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Escriba el id...">
                  </div>
                  <button type="submit" class="btn btn-primary">Buscar</button>
                </fieldset>
              </form>
        </div>
    </div>
</div>